.comercio {
    
    height: 800px;
    width: 100%;
    padding-inline: 120px;
    
    margin: 0 auto;
  

}

.hero-detalhes {
    width: 100%;
   
    padding: 25px;
    padding-inline: 120px;
}

.comercio-container {
    display: flex;
    gap: 69px;
}

.main-img {
    flex: 1;
}

.main-img img {
    width: 100%;
}

.main-info {
    flex: 1.2;
    padding: 24px 0px;
}

.header-info {
    display: flex;
    align-items: center;
}

.inner-info {
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.img-logo img {
    width:130px;
}

.info-cards {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.info-card {
    display: flex;
    gap: 32px;
    align-items: center;
}

.tag-comercio {
    margin-bottom: 62px;
    text-align: left;
}