/* Container */
.coupon-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(368px, 1fr));
  gap: 24px;
  padding: 32px 0;
  justify-content: center;
}

/* Card */
.coupon-card {
 .coupon-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%; /* controle do tamanho será pelo grid */
  max-width: 368px;
  padding: 24px;
  background: #fff;
  border: 1px solid #EDEDED;
  border-radius: 8px;
  box-shadow: 2px 2px 16px 0px rgba(0, 0, 0, 0.05);
  gap: 16px;
  flex-shrink: 0;
  margin: 0 auto;
}

}

/* Imagem */
.coupon-image {
  width: 100%;
  height: 180px;
  overflow: hidden;
  border-radius: 8px;
}

.coupon-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* Conteúdo */
.coupon-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 16px;
  flex-grow: 1;
}

.coupon-tag {
  background-color: #4B57A3;
  color: white;
  font-size: 12px;
  padding: 6px 12px;
  border-radius: 16px;
  display: inline-block;
  width: fit-content;
}

.coupon-title {
  font-size: 16px;
  font-weight: bold;
  color: #000;
  margin: 0;
  text-align: left;
}

.coupon-description {
  font-size: 13px;
  color: #555;
  margin: 0;
  text-align: left;
}

.coupon-button {
  background-color: #4B57A3;
  color: white;
  border: none;
  padding: 12px 0;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  width: 100%;
  margin-top: auto;
  transition: background-color 0.3s ease;
}

.coupon-button:hover {
  background-color: #727cbd;
}

/* Responsivo */
@media screen and (max-width: 1024px) {
  .coupon-card {
    width: calc(33.333% - 16px);
  }
}



@media screen and (max-width: 768px) {
  .coupon-card {
      width: calc(33.333% - 17px); /* 4 por linha */
  }
}


@media screen and (max-width: 480px) {
  .coupon-card {
    width: 100%;
  }
}
