@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import url('./header.css');
@import url('./search.css');
@import url('./categorias.css');
@import url('./descofertas.css');
@import url('./descontos.css');
@import url('./filterarea.css');
@import url('./melhorcupom.css');
@import url('./exclusivos.css');
@import url('./novidades.css');
@import url('./carrosselcomercio.css');
@import url('./voce-sabia.css');
@import url('./comercio.css');
@import url('./sobrenos.css');
@import url('./cadastro-com.css');

html {
  scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Rubik", sans-serif;
    scroll-behavior: smooth;
    
}

:root {
    --color-text-header: #4b57a;

    /* layout geral */
    --padding-body-desktop: 120px;
    --padding-body-mobile: 80px;



    /* buttons */
    --color-button:#4B57A3;
    --font-color-btn:#fff;
    --fontsize-btn-notebook:14px;
    --fontsize-btn-desktop:16px;
    --search-height-desktop:50px;
    --search-height-notebook:70px;



    }


    ::-webkit-scrollbar {
        width: 10px;               /* Largura da barra vertical */
        height: 10px;              /* Altura da barra horizontal */
      }
      
      ::-webkit-scrollbar-track {
        background: #f1f1f1;       /* Cor do fundo da trilha */
        border-radius: 10px;
      }
      
      ::-webkit-scrollbar-thumb {
        background: #4B57A3;       /* Cor da "pegada" do scroll */
        border-radius: 10px;
        border: 2px solid #f1f1f1; /* Borda opcional para espaço */
      }
      
      ::-webkit-scrollbar-thumb:hover {
        background: #374083;       /* Cor ao passar o mouse */
      }



      footer {
        background: #212121;
     
        width: 100%;
        margin-top: 100px;
        padding-inline: 120px;
        
        border-bottom: #fff 1px solid;
        text-decoration: none;
      }

      .m-f {
        width: 25%;
      }

      .content-brand {
        padding-top: 30px;
        display: flex;
        width: 100%;
        justify-content: space-around;
        padding-inline: 100px;
        border-bottom: solid 1px #fff;
        align-items: center;
        padding-bottom: 30px;

      }

      .content-brand img {
        
      object-fit: contain;
        

      
      }

      .menu-footer {
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        padding-inline: 10px;
        gap: 20px;
        color: #fff;

      }
      .menu-footer a {
        color: #fff;
      }

      .logo-footer {
        width: 200px;
        margin-bottom: 24px;
        
      }

      .brand-info {
        font-size: 14px;
        margin-bottom: 24px;
        color: #fff;
      }

      footer h2 {
        color: #fff;
      }

      .card-footer {
        color: #fff;
        display: flex;
        gap: 10px;
        margin-bottom: 40px;
        align-items: center;
      }

      .card-footer i {
        font-size: 28px;
      }

      .card-footer p {
        font-size: 12px;
        width: 80%;
      }

      .footer-info {
                background: linear-gradient(90deg, #828EC5 0%, #DBA092 100%);

      }

      .icons-footer {
        display: flex;
        gap: 12px;
      }

      .social-media {
           font-size: 30px;
           
      }
      .midia-links {
        display: flex;
        gap: 15px;
      }

      .menus {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-left: 30px;

      }

      .link-div {
        display: flex;
        flex-direction: column;
        gap: 10px;
        
      }

      .link-div ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 12px;
      }

      .down-footer {
        display: flex;
        padding: 20px;
        padding-inline: 140px;
        font-size: 13px;
        color: #fff;
        gap: 40px;
        background-color: #3d3d3d;
        width: 100%;
        
      
      }