@import url("./global.css");

.hero-header {
    width: 100%;
   
    padding: 25px;
    padding-inline: 120px;
    height: 600px;

    
    
}

.logo img {
    width: 200px;
}

header {
    max-width: 1488px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

nav ul {
    display: flex;
    gap:24px;
    
}

nav ul li a {
    color:#4B57A3;
    font-size: 16px;
font-style: normal;
font-weight: 500;
}

nav .btn-header {
    background: linear-gradient(90deg, #828EC5 0%, #DBA092 100%);
    padding: 8px 30px;
    border-radius: 30px;
    border: none;
    font-size: var(--fontsize-btn-desktop);
    color: var(--font-color-btn);
    cursor: pointer;

   

}

.banner-hero {
    width: 100%;
}

.banner-hero img {
    width: 100%;
}

/* slider */

.banner-hero {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    border-radius: 12px;
}

.slides {
    display: flex;
    width: 300%; /* 3 slides */
    height: 100%;
    transition: transform 0.5s ease-in-out;
    
}

.slide {
    width: calc(100% / 3); /* cada slide ocupa 1/3 do container de 300% */
    flex-shrink: 1;
    
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}

.slide img {
    width: 100%;
    
    object-fit: cover; /* ou "contain" se preferir ver tudo sem corte */
}


input[type="radio"] {
    display: none;
}

.navigation-slides {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.bar {
    width: 12px;
    height: 12px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s;
}

.bar:hover {
    background-color: white;
}

.bullet-ativo {
    background-color: white; /* Ou qualquer cor que preferir */
    border: 2px solid #333;  /* Adiciona borda para destacar o bullet ativo */
}




/*  Responsivos  */

/* Extra pequeno: Smartphones antigos (até 320px) */
@media (max-width: 320px) {
  
  }
  
  /* Pequeno: Smartphones modernos (até 480px) */
  @media (max-width: 480px) {
   
  }
  
  /* Médio: Smartphones maiores e tablets em modo retrato (até 768px) */
  @media (max-width: 768px) {

  }
  
  /* Grande: Tablets em modo paisagem e notebooks pequenos (até 1024px) */
  @media (max-width: 1024px) {
 
  }
  
  /* Extra grande: Notebooks e desktops médios (até 1280px) */
  @media (max-width: 1280px) {
   .btn-header {
    font-size: var(--fontsize-btn-notebook);
   }
  }
  
  /* Ultra grande: Telas grandes (até 1440px) */
  @media (max-width: 1440px) {
 
  }
  
  