@import url("./global.css");

.hero-header {
    
    max-width: 1520px;
    margin: 0 auto;
    
    padding-inline:var(--padding-body-desktop);
    margin-bottom: 90px;
      

}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  z-index: 1000;
  display: none;
}

.menu-overlay.active {
  display: block;
}

.logo img {

height: 54px;
flex-shrink: 0;  
}

.logo img:hover {
    
    filter: brightness(0.2);
}

.header {
     max-width: 1520px;
    margin: 0 auto;

    
    border: none;
    box-shadow: none;
    padding-inline: var(--padding-body-desktop);
    
    
   
   
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    

  

    
    
}




nav ul li a {
    color:#1E1E1E;
    font-size: 20px;
font-style: normal;
font-weight: 500;
}
nav ul li a:hover {
    color: #676767;
}


nav .btn-header {
    background: linear-gradient(90deg, #828EC5 0%, #DBA092 100%);
    min-height: 40px;
max-height: 40px;
padding: 8px 12px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    
    cursor: pointer;
    font-weight: 600;

   

}

nav .btn-header a {
    color:#fff;
}

nav .btn-header:hover {
    background: #434D9C;
}


.banner-hero img {
    width: 100%;
}

/* slider */

.banner-hero {
    position: relative;
    width: 100%;
height: 365px;
flex-shrink: 0;
    overflow: hidden;
    border-radius: 8px;
}

.slides {
    display: flex;
    width: 300%; /* 3 slides */
    height: 100%;
    transition: transform 0.5s ease-in-out;
    
}



.slide {
    width: calc(100% / 3); /* cada slide ocupa 1/3 do container de 300% */
    flex-shrink: 1;
    
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}

.slide img {
    width: 100%;
    
    object-fit: cover; /* ou "contain" se preferir ver tudo sem corte */
}


input[type="radio"] {
    display: none;
}

.navigation-slides {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.bar {
    width: 8px;
height: 8px;
flex-shrink: 0;
aspect-ratio: 1/1;
    border-radius: 50%;
    cursor: pointer;
    background-color: #828EC5;
    transition: all 0.3s;
}

.bar:hover {
    background-color: white;
}

.bullet-ativo {
    background-color: #434D9C; /* Ou qualquer cor que preferir */
  
}

.arrows img {
   width: 48px;
height: 48px;
flex-shrink: 0;
aspect-ratio: 1/1;
cursor: pointer;
}



.btn-left, .btn-right {
    display: flex;
width: 48px;
height: 48px;
padding: 10px;
justify-content: center;
align-items: center;

cursor: pointer;
}

.btn-right:hover, .btn-left:hover {
    filter: brightness(0.5);
}

.arrows {
     position: absolute;
    top: 50%; /* Centraliza verticalmente */
    left: 0;
    width: 100%; /* Agora acompanha o tamanho do banner */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    transform: translateY(-50%); /* Ajusta centralização vertical */
    z-index: 999;


}

.right {
    transform: rotateY(180deg);
}

.menu-hamb {
    display: flex;

padding: 4px;
justify-content: center;
align-items: center;
display: none;
}

.menu-hamb img {
    width: 48px;
height: 48px;
flex-shrink: 0;

}


.close-menu {
    display: flex;

padding: 4px;
justify-content: center;
align-items: center;
display: none;
z-index: 80000;
}

.close-menu img {
     width: 48px;
height: 48px;
flex-shrink: 0;

}

.main-menus {
    display: none;
}

   .main-title {
     max-width: 1520px;
    margin: 0 auto;
    
      color: #4B57A3;

font-size: 32px;
font-style: normal;
font-weight: 700;
text-align: left;
padding-left: var(--padding-body-desktop);
    }



/*  Responsivos  */
 @media (max-width:1820px) {
           .logo img {
            width: 240px;
            height: 67.937px;
           }

           ul li a {
            font-size: 20px;
           }

           .btn-header {
            display: flex;
min-height: 52px;
max-height: 52px;
padding: 8px 20px;
justify-content: center;
align-items: center;
font-size: 20px;
font-weight: 600;
color: #fff;
           }

           .header {
          padding: 26px 104px;
          margin-bottom: 16px;
           }

         
           


           .banner-hero {
            height: 450px;
           }
  }

    /* Notebook desktop (até 1440px) */
  @media (max-width: 1440px) {
          .header nav ul li a {
            font-size: 16px;
          }

          .logo img {
            width: 192px;
height: 54.35px;
          }

          .btn-header {
            min-height: 40px;
max-height: 40px;
padding: 8px 12px;
            font-size: 16px;
            
          }

          .banner-hero {
            height: 365px;
          }
  }

 
  
  /* Tablets */
  @media (max-width: 768px) {
   .menu-desktop {
    display: none;
   }

   .menu-hamb {
    display: flex;
   }

         .header {
        padding-inline: 32px;
       }

       .main-menus {
  position: absolute;
  display: flex;
  width: 100%;
  left: 50%;
  top: 0;
  flex-direction: column;
  gap: 24px;
  z-index: 5000;
  background-color: #fff;
  padding: 50px 24px 70px 24px;
  padding-top: 100px;
  transition: all .4s ease;
  transform: translate(-50%, -200%);
}

.main-menus.active {
  transform: translate(-50%, 0);
}
       .main-menus ul {
        flex-direction: column;
        align-items: center;
        width: 100%;
       }

       .main-menus ul li {
  display: block;
  width: 100%;
  border-bottom: 2px solid #434D9C;
  padding: 12px 16px;
 
  text-align: center; /* ou left */
}


       .btn-header {
        width: 100%;
       }

       nav {
        width: 100%;
  

   
  
        
       }

       .header {
        width: 100%;
      
       }
        
         .main-title {
      color: #4B57A3;

font-size: 24px;
font-style: normal;
font-weight: 700;
text-align: left;
padding-left: var(--padding-body-mobile);
    }

     

        


   .logo img {
    width: 160px;
height: 40.84px;


   }

   .hero-header {
    padding-inline: 0;
    
   }

   .banner-hero {
    height: 502px;
    border-radius: 0;
   }

   .slides img {
    object-fit: cover;
    
   }
  }
  

  
  /* Smartphones */
  @media (max-width: 480px) {

   
       .header {
        padding-inline: 24px;
       }

       .main-menus {
  position: absolute;
  display: flex;
  width: 100%;
  left: 50%;
  top: 0;
  flex-direction: column;
  gap: 24px;
  z-index: 5000;
  background-color: #fff;
  padding: 50px 24px 70px 24px;
  padding-top: 90px;
  transition: all .4s ease;
  transform: translate(-50%, -200%);
}

   .main-title {
      color: #4B57A3;

font-size: 24px;
font-style: normal;
font-weight: 700;
text-align: left;
padding-left: var(--padding-body-desktop);
    }

.main-menus.active {
  transform: translate(-50%, 0);
}
       .main-menus ul {
        flex-direction: column;
        align-items: center;
        width: 100%;
       }

       .main-menus ul li {
  display: block;
  width: 100%;
  border-bottom: 2px solid #434D9C;
  padding: 12px 16px;
 
  text-align: center; /* ou left */
}


       .btn-header {
        width: 100%;
       }

       nav {
        width: 100%;
  

   
  
        
       }

       .header {
        width: 100%;
     
       }
        

     

        


   .logo img {
    width: 160px;
height: 40.84px;


   }

   .hero-header {
    padding-inline: 0;
    
   }

   .banner-hero {
    height: 502px;
    border-radius: 0;
   }

   .slides img {
    object-fit: cover;
    
   }


  }
  


  