.novidades {
    padding-inline: 120px;
    padding-top: 50px;
    min-height: 80vh;
    margin-top: 100px;
    margin-bottom: 50px;
    
}

.flex-content {
    display: flex;
    gap: 100px;
    margin-bottom: 100px;
    height: 820px;
}

.img-nov {
    flex: 2;
    
    
    
}

.img-nov img {
    width: 100%;
    border-radius: 8px;
    height: 100%;
    object-fit: cover;
    
}

.content-nov {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    text-align: left;
    gap: 28px;
}

.content-nov-header {
    display: flex;
    justify-content: flex-start;
    max-width: 200px;
    gap:10px;
}

.content-nov-header img {
    width: 100%;
    object-fit: contain;
}

.subtitle-nov {
    color: #4B57A3;
    font-weight: bold;
    font-size: 24px;
}

.content-nov ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 20px;
    gap: 10px;
}

.content-nov ul li img {
    width: 32px;
    height: 32px;
}

.nov-call {
    font-weight: 500;
    color: #DBA092;
}


.list-nov {

height: 160px;
padding: 48px 64px;
width: 100%;
display: flex;
flex-direction: column;
align-items: start;
justify-content: center;
flex-shrink: 0;
border-radius: 12px;
border: 2px solid #828EC5;

background: #FFF;
}

.carrossel-nov {
  position: relative;
  overflow: hidden;
}

.novidades .flex-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  pointer-events: none;
}

.novidades .flex-content.showing {
  opacity: 1;
  pointer-events: auto;
  position: relative;
}