.body-painel {
    max-height: 100vh;
    overflow: hidden;
}

.main {
    display: flex;
}

.logo-sidebar img {
    display: block;
    height: 78px;
    width: 275px;
}

.logo-sidebar {
    margin-bottom: 48px;
}

.sidebar-admin {
    width: 369px;
    height: 100vh;
    background-color: #fff;
    padding: 32px 24px;

    display: flex;
    flex-direction: column;
    position: relative;

}

.user-admin {
    position: absolute;
    bottom: 10px;
    display: flex;
    
}

.search-admin {
    
    background-color: #fff;
    height: 40px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #CDCACA;
}
#s-text {
    outline: none;
    border: none;
   
    flex: 1;
    height: 100%;
    font-size: 18px;
    align-self: center;
}

.lista-sidebar {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 32px;
}
.lista-sidebar li {
    display: flex;
    align-items: center;
    height: 48px;
    gap: 3px;
    border-radius: 8px;
    padding: 8px 16px;
    background-color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.dash {
    background-color: #F0F0F0;
    width: 100%;
    padding: 32px;
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.header-dash {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    padding-top: 8px;
    padding-bottom:8px;
    
}

.rotas-dash {
    display: flex;
}

.actions-admin {
    display: flex;
    gap: 16px;
}

.ball-ad {
    height: 48px;
    width: 48px;
    background-color: #fff;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;

}

.notif img {
    width: 16px;
    height: 18px;
}

.profile img {
    width: 100%;
}

.main-dash {
    background-color: #fff;
    min-height: 80vh;
    max-height: 80vh;
    overflow-y: scroll;
    width: 100%;
    max-width: 100%;
    border-radius: 16px;
    padding: 32px;
    
    
}

.main-dash::-webkit-scrollbar {
  display: none;
}

.page {
  display: none;
}

.lista-sidebar li.active {
  background-color: #434D9C;
  color: #fff;
  font-weight: bold;
}

/* FORM CRIAR ESTAB  */

.btn-criar {
  padding: 10px 16px;
  background: #2563eb;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 16px;
}

.sub-page {
  display: none;
 
  padding: 20px;
  border-radius: 8px;
}

.btns-subpage {
  display: flex;
  gap: 10px;
}

.btns-subpage button {
    width: 200px;
    height: 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    border: 1px solid #4B57A3;
    color: #4B57A3;
    font-weight: 500;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btns-subpage button.active {
    background-color: #4B57A3;
    color:#fff;
}



.sub-page.active {
  display: block;
}

.form-estab h3 {
  color: #000;
font-family: Rubik;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
padding-bottom: 16px;
  border-bottom: 1px solid #A4A4A4;
  margin-bottom: 32px;
}



.row {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
  align-items: center;
}

.field {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  
  
}


.btn-map {
   width: 200px;
    height: 40px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    border: 1px solid #4B57A3;
    color: #4B57A3;
    font-weight: 500;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
}

/*
.field.full {
  flex: 100%;
}

*/



.field label {
margin: 0;
color: #6F6F6F;
font-family: Rubik;
font-size: 16px;
line-height: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.field input,
.field select {
  display: flex;
height: 40px;
padding: 8.821px 17.642px;
align-items: center;
gap: 11.026px;
align-self: stretch;
border-radius: 8.821px;
border: 1.103px solid #CDCACA;
}

.field.switch {
  justify-content: center;
  align-items: center;
}

.btn-salvar {
  margin-top: 16px;
  padding: 12px;
  width: 100%;
  
  border: none;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
}

.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
  line-height: unset;
  font-size: unset;
  justify-self: center;
  padding: 4px;

}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* trilho */
.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  padding: 4px;
  background-color: #909090;
  border-radius: 999px;
  transition: background-color 0.3s;
}

/* bolinha */
.slider::before {
  content: "";
  position: absolute;
  height: 18px;
  width: 18px;
  left: 3px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.3s;
}

/* ativo */
.switch input:checked + .slider {
  background-color: #6d28d9; /* roxo, pode trocar */
}

.switch input:checked + .slider::before {
  transform: translate(22px, -50%);
}


