.sobrenos {
  
  padding: 40px 200px;
  font-family: Arial, sans-serif;
  text-align: center;
}

.sobrenos-container {
  display: inline-block;
  padding: 12px 20px;
 
 
  margin-bottom: 24px;
}

.sobrenos-container h1 {
  font-size: 40px;
  font-weight: 700;
  color: #1a4aa3;
  margin: 0;
  text-align: center;
}

.sobrenos-container .frase {
  font-size: 24px;
  color: #6b6b6b;
  margin-top: 4px;
  margin-bottom: 0;
  text-align: center;
}

.sobrenos > p {
  width: 80%;
  font-size: 24px;
  margin: 0 auto;
  font-size: 1rem;
  line-height: 1.6;
  color: #2b2b2b;
}

.sobrenos .descricao {
  text-align: justify;
}


/* 📱 Responsividade */
@media (max-width: 1024px) {
    .sobrenos {
         padding: 40px 100px;
    }
  .sobrenos-container h1 {
    font-size: 1.3rem;
  }

  .sobrenos-container .frase {
    font-size: 18px;
  }

  .sobrenos > p {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
       .sobrenos {
         padding: 40px 50px;
    }
  .sobrenos-container h1 {
    font-size: 1.1rem;
  }

  .sobrenos-container .frase {
    font-size: 0.8rem;
  }

  .sobrenos > p {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
    .sobrenos {
         
         padding: 40px 20px;
  
    }


  .sobrenos-container {
    padding: 10px 14px;
  }

  .sobrenos-container h1 {
    font-size: 1rem;
  }

  .sobrenos-container .frase {
    font-size: 0.75rem;
  }

  .sobrenos > p {
    font-size: 0.85rem;
    padding: 0 10px;
  }
}
