:root {
    --title-desktop:32px;
    --paragraph-desktop:24px;
}



.hero-prod {
    max-width: 100%;
    padding-inline: 104px;
    height: 450px;
    border-radius: 16px;
    max-width: 1512px;
    margin: 0 auto;
    
 

   
}

.hero-prod img {
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius: 16px;
    
}

.copy-after {
    
     max-width: 1512px;
    margin: 0 auto;
    margin-top: 55px;
}

.copy-after h1 {
    font-size:var(--title-desktop);
    color: #000000;
    text-align: center;
    line-height: 34px;
    margin: 0;
}



.copy-after p {
    font-size: var(--paragraph-desktop);
    margin-top: 10px;
    text-align: center;
    font-weight: 300;
}

.copy-after span {
    display: block;
}

.vantagens-prod {
    padding-inline: 104px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
     max-width: 1512px;
    margin: 0 auto;
    margin-top: 107px;
    
}

.card-vantagens-prod {
    width: 310px;
height: 213px;
border-radius: 16px;
border: 3px solid #585DA5;
padding: 36px 30px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;


}

.card-vantagens-prod img {
    width: 51px;
    height: 51px;
}

.card-vantagens-prod p {
    color: #000;
text-align: center;
font-family: Rubik;
font-size: var(--paragraph-desktop);
font-style: normal;
font-weight: 500;
line-height: 30px; /* 125% */
}

.btn-conhecer {
        background: linear-gradient(90deg, #828EC5 0%, #DBA092 100%);
    min-height: 40px;
height: 48px;
padding: 12px 24px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    
    cursor: pointer;
    font-weight: 600;
    color: #fff;
}

.quero-conhecer {
    padding-inline: 104px;
    max-width: 1512px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 80px;

}

.prova {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 150px;
}

.prova img {
    width: 300px;
}

.title-copy-a {
     font-size:var(--title-desktop);
    color: #000000;
    text-align: center;
    line-height: 34px;
    margin: 0;

}

.para-pattern {
     font-size: var(--paragraph-desktop);
    margin-top: 10px;
    text-align: center;
    font-weight: 300;
    margin: 0;

}

.benef-prod {
        padding-inline: 104px;
    max-width: 1512px;
    display: flex;
    gap: 20px;
    margin: 0 auto;
    justify-content: center;
    margin-top: 120px;
}

.card-ben {
    height: 550px;
}

.card-ben img {
    height: 100%;
    object-fit: cover;
}

.ben-copy {
    padding-top:80px;
}

.reviews-prod {
  max-width: 90vw; /* ocupa 90% da tela em qualquer tamanho */
  overflow: hidden;
  margin: 100px auto 0;
  position: relative;
}

.wrapper-reviews {
  display: flex;
  align-items: center;
  transition: transform 0.8s ease-in-out;
  gap: 20px;
}

.wrapper-reviews img {
  width: clamp(290px, 70vw, 700px); /* responsivo: mínimo 280px, máximo 700px */
  flex-shrink: 0;
  opacity: 0.6;
  transition: opacity 0.4s ease, transform 0.4s ease;
  border-radius: 10px;
}

.wrapper-reviews img.active {
  opacity: 1;
  transform: scale(1.05);
}


.final-prod-b {
     height: 450px;
    width: 100%;
    background: linear-gradient(161deg, #5569B5 12.88%, #9D6581 50.8%, #D57E63 95.9%);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    margin-top: 0;
}

.title-final-b, .para-final-b {
    margin:0;
    text-align: center;
}

.title-final-b {
    font-size: 40px;
    color: #fff;
    font-style: normal;
font-weight: 400;
line-height: 42px;
}
.para-final-b {
    font-size: var(--paragraph-desktop);
    color: #fff;
    font-style: normal;
font-weight: 300;
margin-top: 16px;
}

.btn-white {
    
    color: #856692;
    background:#fff;
    margin-top: 32px;
}

.line-prod {
    height: 6px;
   
}

.final-prod {
    margin-top: 80px;
}

.para-pattern span {
    display: block;
}

.ben-copy span {
    display: block;
}

.copy-hero-mobile {
    padding-inline: 32px;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    
}

.line-mob {
    margin: 0;
    margin-top: 30px;
    width: 600px;
}

.copy-hero-mobile h1 {
    font-size: 30px;
    color: #000;
    margin:0;
    font-weight: 600;
    width: 100%;
 
    line-height: 34px;
}

.copy-hero-mobile p {
    font-size: 18px;
    font-weight: 300;
    width: 100%;
    text-align: center;
}

.logo-mob {
    width: 143px;
    margin-bottom: 16px;
}

.btn-blue {
    background: #50BDD2;
    display: flex;
    align-items: center;
    gap: 15px;
}

.btn-dkblue {
    background: #042E8B;
     display: flex;
    align-items: center;
    gap: 15px;
}



.final-prod {
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 80px;
}

.fgts-logo-pag {
    width: 120px;
    margin-bottom: 10px;
}

.card-farma {
    width: 60px;
}

@media screen and (max-width:1520px) {
   .hero-prod {
    height: 400px;
   }
    .card-vantagens-prod {
    max-width: calc(25% - 20px);
    height: 213px;
    }
   .card-vantagens-prod p {
    color: #000;
text-align: center;
font-family: Rubik;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 125% */
}

.benef-prod {
    padding-inline: 104px;
    max-width: 1512px;
    display: flex;
    gap: 20px;
    margin: 0 auto;
    justify-content: center;
    margin-top: 120px;
}

.card-ben {
    height: 450px;
}
}


@media screen and (max-width:820px) {

    .hero-prod {
        padding-inline: 104px;
        
    }

    .copy-after h1 {
        font-size: 32px;
    }

    .copy-after p {
        font-size: 20px;
        max-width: 80%;
        margin: 0 auto;
        margin-top: 10px;
    }

    .copy-after span {
        display: inline;
    }

    .hero-prod img:first-child {
        display: none;
    }

    .banner-mobile-prod {
        display: block;
    }

    

     .vantagens-prod {
         padding-inline: 104px;
        gap: 10px;
        justify-content: center;
   
    }

   
     .card-vantagens-prod {
    max-width: calc(50% - 10px);
    height: 153px;
    padding: 20px 20px;
    
    }

    .card-vantagens-prod img {
            width: 30px;
            height: 30px;
    }

    .card-vantagens-prod p {
        font-size: 14px;
        line-height: 16px;
    }

    .benef-prod {
         padding-inline: 104px;
        justify-content: start;
        overflow-x: scroll;
        overflow-y: hidden;
        scrollbar-width: 5px;
        
    }

    

    .card-ben {
        height: 300px;
    }

    .prova {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 100px;
     padding-inline: 104px;
}

.para-pattern {
    font-size: 20px;
}

.para-pattern span {
    display: inline;
}

.prova img {
    width: 200px;
    margin-top: 10px;
}

.quero-conhecer {
    padding-inline: 56px;
}

.ben-copy {
    padding-top:80px;
    padding-inline: 80px;
     text-align: center;
    
     width: 100%;
     margin: 0 auto;
    
}

.ben-copy h1 {
    text-align: center;

    
    
}

.ben-copy span {
    display: block;
}

.card-vantagens-prod img {
    width: 40px;
    height: 40px;
}

.card-vantagens-prod p {
    font-size: 20px;
}



.final-prod-b {
     height: 450px;
    width: 100%;
    background: linear-gradient(161deg, #5569B5 12.88%, #9D6581 50.8%, #D57E63 95.9%);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    margin-top: 0;
    padding: 20px;
}

.title-final-b, .para-final-b {
    margin:0;
    text-align: center;
}

.title-final-b {
    font-size: 32px;
    color: #fff;
    font-style: normal;
font-weight: 400;
line-height: 42px;
}
.para-final-b {
    font-size: var(--paragraph-desktop);
    color: #fff;
    font-style: normal;
font-weight: 300;
margin-top: 16px;
}

.final-prod {
     padding-inline: 104px;
    
}

 .copy-hero-mobile {
        display: flex;
    }
 .logo-total-num {
     width: 143px;
    
    }

}


@media screen and (max-width:480px) {

    .hero-prod {
        padding-inline: 32px;
        
    }

   

    .copy-after h1 {
        font-size: 32px;
    }

    .copy-after p {
        font-size: 20px;
        max-width: 80%;
        margin: 0 auto;
        margin-top: 10px;
    }

    .card-farma {
    width: 60px;
}

    .copy-after span {
        display: inline;
    }

    .hero-prod img:first-child {
        display: none;
    }

    .banner-mobile-prod {
        display: block;
    }

    
    .card-ben {
        height: 350px;
         flex: 0 0 auto;

    }

    

     .vantagens-prod {
        padding-inline: 50px;
        gap: 10px;
        justify-content: center;
   
    }
     .card-vantagens-prod {
    max-width: calc(50% - 10px);
    height: 153px;
    padding: 20px 20px;
    
    }

    .card-vantagens-prod img {
            width: 30px;
            height: 30px;
    }

    .card-vantagens-prod p {
        font-size: 14px;
        line-height: 16px;
    }

    .benef-prod {
        padding-inline: 32px;
        justify-content: start;
        overflow-x: scroll;
        overflow-y: hidden;

    }

    .prova {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 100px;
    padding-inline: 32px;
}

.para-pattern {
    font-size: 20px;
}

.para-pattern span {
    display: inline;
}

.prova img {
    width: 200px;
    margin-top: 10px;
}

.ben-copy {
    padding-top:80px;
    padding-inline: 32px;
}

.ben-copy span {
    display: inline;
}



.final-prod {
    padding-inline: 32px;
}

.final-prod-b {
     height: 450px;
    width: 100%;
    background: linear-gradient(161deg, #5569B5 12.88%, #9D6581 50.8%, #D57E63 95.9%);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    margin-top: 0;
    padding: 20px;
}

.title-final-b, .para-final-b {
    margin:0;
    text-align: center;
}

.title-final-b {
    font-size: 32px;
    color: #fff;
    font-style: normal;
font-weight: 400;
line-height: 34px;
}
.para-final-b {
    font-size: var(--paragraph-desktop);
    color: #fff;
    font-style: normal;
font-weight: 300;
margin-top: 16px;
}

.final-prod {
    margin-bottom: 0;
}

.title-copy-a {
    padding-inline: 10px;
}
}





